/* DISABLE WORD WRAP FOR EASIER READING ****************************************
*******************************************************************************/

/*
 * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 *
 * Adapted for personal use from the ZMK project by Frosthaven
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25
#include <dt-bindings/zmk/pointing.h>

/* BEHAVIORS *******************************************************************
*******************************************************************************/

&mt {
  tapping-term-ms = <200>;
};

/* DEVICE MAP ******************************************************************
*******************************************************************************/

#ifndef DEFAULT_TYPING_LAYER
#define DEFAULT_TYPING_LAYER 0
#endif

#define COLDH 0
#define QWERTY 1
#define DVORAK 2
#define WRKMN 3
#define COLMAK 4
#define SYMBOL 5
#define NAVPAD 6
#define SYSTEM 7

/ {

  behaviors {
    scroll_vertical: scroll_vertical {
      compatible = "zmk,behavior-sensor-rotate";
      #sensor-binding-cells = <0>;
      bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
      tap-ms = <100>;
    };
    scroll_horizontal: scroll_horizontal {
      compatible = "zmk,behavior-sensor-rotate";
      #sensor-binding-cells = <0>;
      bindings = <&msc MOVE_X(75)>, <&msc MOVE_X(-75)>;
      tap-ms = <100>;
    };
  };

  macros {
    // MACOS requires the caps lock key to be held for 200ms to register
    ZMK_MACRO(macro_caps,
      tap-ms = <200>;
      bindings = <&kp CAPS>;
    )

    // emoji picker
    // - Windows: Win + .
    // - MacOS: Ctrl + Cmd + Space
    ZMK_MACRO(macro_emoji,
      tap-ms = <1>;
      bindings
          = <&macro_press &kp LGUI>
          , <&macro_tap &kp DOT>
          , <&macro_release &kp LGUI>
          , <&macro_press &kp LCTRL>
          , <&macro_press &kp LGUI>
          , <&macro_tap &kp SPACE>
          , <&macro_release &kp LCTRL>
          , <&macro_release &kp LGUI>
          ;
    )

  };

  keymap {
      compatible = "zmk,keymap";

/* LAYER 0 — DEFAULT TYPING LAYER (selected at compile time) *****************/

      layout_layer_0 {
#if DEFAULT_TYPING_LAYER == 1
        display-name ="QWERTY";
        bindings = <
          &kp TAB               &kp Q             &kp W             &kp E             &kp R             &kp T             &kp Y             &kp U             &kp I             &kp O             &kp P                 &kp BSPC
          &kp LCTRL             &kp A             &kp S             &kp D             &kp F             &kp G             &kp H             &kp J             &kp K             &kp L             &kp SEMI              &kp SQT
          &kp LSHFT             &kp Z             &kp X             &kp C             &kp V             &kp B             &kp N             &kp M             &kp COMMA         &kp DOT           &kp FSLH              &kp RSHFT
                                                  &kp C_MUTE        &kp LALT          &mo 5             &kp SPACE         &kp RET           &mo 6             &kp LGUI          &kp C_PLAY_PAUSE
        >;
#elif DEFAULT_TYPING_LAYER == 2
        display-name ="DVORAK";
        bindings = <
          &kp TAB               &kp SQT           &kp COMMA         &kp DOT           &kp P             &kp Y             &kp F             &kp G             &kp C             &kp R             &kp L                 &kp BSPC
          &kp LCTRL             &kp A             &kp O             &kp E             &kp U             &kp I             &kp D             &kp H             &kp T             &kp N             &kp S                 &kp FSLH
          &kp LSHFT             &kp SEMI          &kp Q             &kp J             &kp K             &kp X             &kp B             &kp M             &kp W             &kp V             &kp Z                 &kp RSHFT
                                                  &kp C_MUTE        &kp LALT          &mo 5             &kp SPACE         &kp RET           &mo 6             &kp LGUI          &kp C_PLAY_PAUSE
        >;
#elif DEFAULT_TYPING_LAYER == 3
        display-name ="WRKMN";
        bindings = <
          &kp TAB               &kp Q             &kp D             &kp R             &kp W             &kp B             &kp J             &kp F             &kp U             &kp P             &kp SEMI              &kp BSPC
          &kp LCTRL             &kp A             &kp S             &kp H             &kp T             &kp G             &kp Y             &kp N             &kp E             &kp O             &kp I                 &kp SQT
          &kp LSHFT             &kp Z             &kp X             &kp M             &kp C             &kp V             &kp K             &kp L             &kp COMMA         &kp DOT           &kp FSLH              &kp RSHFT
                                                  &kp C_MUTE        &kp LALT          &mo 5             &kp SPACE         &kp RET           &mo 6             &kp LGUI          &kp C_PLAY_PAUSE
        >;
#elif DEFAULT_TYPING_LAYER == 4
        display-name ="COLMAK";
        bindings = <
          &kp TAB               &kp Q             &kp W             &kp F             &kp P             &kp G             &kp J             &kp L             &kp U             &kp Y             &kp SEMI              &kp BSPC
          &kp LCTRL             &kp A             &kp R             &kp S             &kp T             &kp D             &kp H             &kp N             &kp E             &kp I             &kp O                 &kp SQT
          &kp LSHFT             &kp Z             &kp X             &kp C             &kp V             &kp B             &kp K             &kp M             &kp COMMA         &kp DOT           &kp FSLH              &kp RSHFT
                                                  &kp C_MUTE        &kp LALT          &mo 5             &kp SPACE         &kp RET           &mo 6             &kp LGUI          &kp C_PLAY_PAUSE
        >;
#else
        display-name ="COL-DH";
        bindings = <
          &kp TAB               &kp Q             &kp W             &kp F             &kp P             &kp B             &kp J             &kp L             &kp U             &kp Y             &kp SEMI              &kp BSPC
          &kp LCTRL             &kp A             &kp R             &kp S             &kp T             &kp G             &kp M             &kp N             &kp E             &kp I             &kp O                 &kp SQT
          &kp LSHFT             &kp Z             &kp X             &kp C             &kp D             &kp V             &kp K             &kp H             &kp COMMA         &kp DOT           &kp FSLH              &kp RSHFT
                                                  &kp C_MUTE        &kp LALT          &mo 5             &kp SPACE         &kp RET           &mo 6             &kp LGUI          &kp C_PLAY_PAUSE
        >;
#endif
        sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &scroll_vertical>;
      };

/* LAYER 1 — QWERTY (or COL-DH if QWERTY was promoted) **********************/

      layout_layer_1 {
#if DEFAULT_TYPING_LAYER == 1
        display-name ="COL-DH";
        bindings = <
          &trans                &kp Q             &kp W             &kp F             &kp P             &kp B             &kp J             &kp L             &kp U             &kp Y             &kp SEMI              &trans
          &trans                &kp A             &kp R             &kp S             &kp T             &kp G             &kp M             &kp N             &kp E             &kp I             &kp O                 &kp SQT
          &trans                &kp Z             &kp X             &kp C             &kp D             &kp V             &kp K             &kp H             &kp COMMA         &kp DOT           &kp FSLH              &trans
                                                  &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans
        >;
#else
        display-name ="QWERTY";
        bindings = <
          &trans                &kp Q             &kp W             &kp E             &kp R             &kp T             &kp Y             &kp U             &kp I             &kp O             &kp P                 &trans
          &trans                &kp A             &kp S             &kp D             &kp F             &kp G             &kp H             &kp J             &kp K             &kp L             &kp SEMI              &kp SQT
          &trans                &kp Z             &kp X             &kp C             &kp V             &kp B             &kp N             &kp M             &kp COMMA         &kp DOT           &kp FSLH              &trans
                                                  &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans
        >;
#endif
        sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &scroll_vertical>;
      };

/* LAYER 2 — DVORAK (or COL-DH if DVORAK was promoted) **********************/

      layout_layer_2 {
#if DEFAULT_TYPING_LAYER == 2
        display-name ="COL-DH";
        bindings = <
          &trans                &kp Q             &kp W             &kp F             &kp P             &kp B             &kp J             &kp L             &kp U             &kp Y             &kp SEMI              &trans
          &trans                &kp A             &kp R             &kp S             &kp T             &kp G             &kp M             &kp N             &kp E             &kp I             &kp O                 &kp SQT
          &trans                &kp Z             &kp X             &kp C             &kp D             &kp V             &kp K             &kp H             &kp COMMA         &kp DOT           &kp FSLH              &trans
                                                  &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans
        >;
#else
        display-name ="DVORAK";
        bindings = <
          &trans                &kp SQT           &kp COMMA         &kp DOT           &kp P             &kp Y             &kp F             &kp G             &kp C             &kp R             &kp L                 &trans
          &trans                &kp A             &kp O             &kp E             &kp U             &kp I             &kp D             &kp H             &kp T             &kp N             &kp S                 &kp FSLH
          &trans                &kp SEMI          &kp Q             &kp J             &kp K             &kp X             &kp B             &kp M             &kp W             &kp V             &kp Z                 &trans
                                                  &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans
        >;
#endif
        sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &scroll_vertical>;
      };

/* LAYER 3 — WORKMAN (or COL-DH if WORKMAN was promoted) *********************/

      layout_layer_3 {
#if DEFAULT_TYPING_LAYER == 3
        display-name ="COL-DH";
        bindings = <
          &trans                &kp Q             &kp W             &kp F             &kp P             &kp B             &kp J             &kp L             &kp U             &kp Y             &kp SEMI              &trans
          &trans                &kp A             &kp R             &kp S             &kp T             &kp G             &kp M             &kp N             &kp E             &kp I             &kp O                 &kp SQT
          &trans                &kp Z             &kp X             &kp C             &kp D             &kp V             &kp K             &kp H             &kp COMMA         &kp DOT           &kp FSLH              &trans
                                                  &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans
        >;
#else
        display-name ="WRKMN";
        bindings = <
          &trans                &kp Q             &kp D             &kp R             &kp W             &kp B             &kp J             &kp F             &kp U             &kp P             &kp SEMI              &trans
          &trans                &kp A             &kp S             &kp H             &kp T             &kp G             &kp Y             &kp N             &kp E             &kp O             &kp I                 &kp SQT
          &trans                &kp Z             &kp X             &kp M             &kp C             &kp V             &kp K             &kp L             &kp COMMA         &kp DOT           &kp FSLH              &trans
                                                  &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans
        >;
#endif
        sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &scroll_vertical>;
      };

/* LAYER 4 — COLEMAK (or COL-DH if COLEMAK was promoted) ********************/

      layout_layer_4 {
#if DEFAULT_TYPING_LAYER == 4
        display-name ="COL-DH";
        bindings = <
          &trans                &kp Q             &kp W             &kp F             &kp P             &kp B             &kp J             &kp L             &kp U             &kp Y             &kp SEMI              &trans
          &trans                &kp A             &kp R             &kp S             &kp T             &kp G             &kp M             &kp N             &kp E             &kp I             &kp O                 &kp SQT
          &trans                &kp Z             &kp X             &kp C             &kp D             &kp V             &kp K             &kp H             &kp COMMA         &kp DOT           &kp FSLH              &trans
                                                  &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans
        >;
#else
        display-name ="COLMAK";
        bindings = <
          &trans                &kp Q             &kp W             &kp F             &kp P             &kp G             &kp J             &kp L             &kp U             &kp Y             &kp SEMI              &trans
          &trans                &kp A             &kp R             &kp S             &kp T             &kp D             &kp H             &kp N             &kp E             &kp I             &kp O                 &kp SQT
          &trans                &kp Z             &kp X             &kp C             &kp V             &kp B             &kp K             &kp M             &kp COMMA         &kp DOT           &kp FSLH              &trans
                                                  &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans
        >;
#endif
        sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &scroll_vertical>;
      };

      lower_layer {
        display-name ="DEVSYM";
        bindings = <
          &kp ESC               &mkp LCLK         &mmv MOVE_UP      &mkp RCLK         &none             &none             &kp GRAVE         &kp EXCL          &kp AMPS          &kp AT            &kp HASH              &kp DEL
          &macro_caps           &mmv MOVE_LEFT    &mmv MOVE_DOWN    &mmv MOVE_RIGHT   &none             &none             &kp DLLR          &kp LPAR          &kp LBRC          &kp LBKT          &kp PIPE              &kp CARET
          &kp LSHFT             &none             &mkp MCLK         &none             &none             &none             &kp UNDER         &kp RPAR          &kp RBRC          &kp RBKT          &kp BACKSLASH         &kp TILDE
                                                  &trans            &macro_emoji      &trans            &trans            &trans            &mo 7             &trans            &trans
        >;
        sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &scroll_vertical>;
      };

      raise_layer {
        display-name ="NAVNUM";
        bindings = <
          &kp ESC               &kp HOME          &kp UP            &kp END           &kp PG_UP         &kp INSERT        &kp PSCRN         &kp N7            &kp N8            &kp N9            &kp KP_DIVIDE          &kp KP_MULTIPLY
          &macro_caps           &kp LEFT          &kp DOWN          &kp RIGHT         &kp PG_DN         &kp PAUSE_BREAK   &kp SCROLLLOCK    &kp N4            &kp N5            &kp N6            &kp MINUS              &kp PLUS
          &kp LSHFT             &kp C_PREV        &kp C_PLAY_PAUSE  &kp C_NEXT        &none             &kp K_APP         &kp KP_NUMLOCK    &kp N1            &kp N2            &kp N3            &kp PERCENT            &kp EQUAL
                                                  &trans            &trans            &mo 7             &trans            &kp KP_ENTER      &trans            &kp N0            &trans
        >;
        sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &scroll_horizontal>;
      };

      adjust_layer {
        display-name ="SYSTEM";
        bindings = <
          &bt BT_CLR            &kp F1            &kp F2            &kp F3            &kp F4            &kp F5            &bt BT_SEL 0      &bt BT_SEL 1      &bt BT_SEL 2      &bt BT_SEL 3      &bt BT_SEL 4          &bt BT_CLR
          &bootloader           &kp F6            &kp F7            &kp F8            &kp F9            &kp F10           &out OUT_TOG      &studio_unlock    &none             &kp C_BRI_DEC     &kp C_BRI_INC         &bootloader
          &sys_reset            &kp F11           &kp F12           &kp F13           &kp F14           &kp F15           &to 0             &to 1             &to 2             &to 3             &to 4                 &sys_reset
                                                  &trans            &kp LALT          &trans            &trans            &trans            &trans            &kp LGUI          &trans
        >;
        sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &scroll_horizontal>;
      };
    };
};
