/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "corne_eclipse.dtsi"

&default_transform {
    col-offset = <6>;
};

/*
&five_column_transform {
    col-offset = <6>;
};
*/

&kscan0 {
    col-gpios
        = <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 21 GPIO_ACTIVE_HIGH>
        ;
};

#ifdef USE_TRACKPAD

&right_encoder {
    status = "disabled";
};

&oled {
    status = "disabled";
};

&pro_micro_i2c {
    trackpad: iqs5xx@74 {
        compatible = "azoteq,iqs5xx";
        reg = <0x74>;
        rdy-gpios = <&pro_micro 8 GPIO_ACTIVE_HIGH>;
        one-finger-tap;
        two-finger-tap;
        press-and-hold;
        scroll;
        flip-x;
    };
};

#else

&right_encoder {
    status = "okay";
};

#endif
